.vscode/
.indicies/
indicies/V2_2/_9.cfe
indicies/V2_2/_9.cfs
indicies/V2_2/_9.si
indicies/V2_2/_d_Lucene90_0.doc
indicies/V2_2/_d_Lucene90_0.pos
indicies/V2_2/_d_Lucene90_0.tim
indicies/V2_2/_d_Lucene90_0.tip
indicies/V2_2/_d_Lucene90_0.tmd
indicies/V2_2/_d.fdm
indicies/V2_2/_d.fdt
indicies/V2_2/_d.fdx
indicies/V2_2/_d.fnm
indicies/V2_2/_d.nvd
indicies/V2_2/_d.nvm
indicies/V2_2/_d.si
indicies/V2_2/_g.cfe
indicies/V2_2/_g.cfs
indicies/V2_2/_g.si
indicies/V2_2/_n.cfe
indicies/V2_2/_n.cfs
indicies/V2_2/_n.si
indicies/V2_2/_o_Lucene90_0.doc
indicies/V2_2/_o_Lucene90_0.pos
indicies/V2_2/_o_Lucene90_0.tim
indicies/V2_2/_o_Lucene90_0.tip
indicies/V2_2/_o_Lucene90_0.tmd
indicies/V2_2/_o.fdm
indicies/V2_2/_o.fdt
indicies/V2_2/_o.fdx
indicies/V2_2/_o.fnm
indicies/V2_2/_o.nvd
indicies/V2_2/_o.nvm
indicies/V2_2/_o.si
indicies/V2_2/_p.cfe
indicies/V2_2/_p.cfs
indicies/V2_2/_p.si
indicies/V2_2/_q.cfe
indicies/V2_2/_q.cfs
indicies/V2_2/_q.si
indicies/V2_2/_r.cfe
indicies/V2_2/_r.cfs
indicies/V2_2/_r.si
indicies/V2_2/_s.cfe
indicies/V2_2/_s.cfs
indicies/V2_2/_s.si
indicies/V2_2/segments_1
indicies/V2_2/write.lock
